@import "../../less/theme.less";
@import "./mixins.less";

@normal-color:#8c8c8c;
@normal-hover-color:#bfbfbf;
@normal-click-color:#595959;
@leke-btn-disabled:#bbe9df;

// 警示按钮

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.leke-btn {
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    outline: 0;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    &-large{
        .type(104px,40px,16px)
    }
    &-middle{
        .type(84px,32px,14px)
    }
    &-small{
        .type(68px,28px,12px)
    }
    &-icon-only{
        width: 32px;
        height: 32px;
        padding: 2.4px 0;
        font-size: 16px;
        &.leke-btn-large{
            width: 40px;
            height: 40px;
            font-size: 16px;
        }
        &.leke-btn-middle{
            width: 32px;
            height: 32px;
            font-size: 14px;
        }
        &.leke-btn-small{
            width: 28px;
            height: 28px;
            font-size: 12px;
        }
        & .leke-btn-content{
            margin-left: 8px;
        }
    }
    &-circle{
        &.leke-btn-large{
            width: 40px;
            height: 40px;
            padding: 4.9px 0;
            font-size: 18px;
            min-width:40px;
            border-radius: 50%;
            text-align: center
        }
        &.leke-btn-middle{
            min-width:32px;
            border-radius: 50%;
            text-align: center
        }
        &.leke-btn-small{
            min-width:28px;
            border-radius: 50%;
            text-align: center
        }
    }
    &-loading{
        position: relative;
        &::before{
            display: block;
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            z-index: 1;
            background: #fff;
            opacity: 0.35;
            border-radius: inherit;
            transition: opacity 0.2s;
            content: "";
            pointer-events: none;
        }
        & .leke-btn-content{
            margin-left: 8px;
        }
    }
    &-block{
        width: 100%;
    }
    &-loading-icon{
        width: 18px;
        height: 18px;
        background:url('./assets/loading.svg');
        display: inline-block;
        background-size: cover;
        animation: spin 1s linear infinite;
        vertical-align: sub;
    }
    &-content{
        // vertical-align: middle;
    }
    &-default{
        .btn-default(@base-color,@hover-color,@click-color);
    }
    &-dashed{
        .btn-dashed(@base-color,@hover-color,@click-color)
    }
    &-normal{
        .btn-normal(@normal-color,@normal-hover-color,@normal-click-color)
    }
    &-text {
        .btn-text(@base-color,@hover-color,@click-color)
    }
    &-primary {
        .btn-primary(@base-color,@hover-color,@click-color)
    }
    &-danger&-primary{
        .btn-dangerours('primary')
    }
    &-danger&-text{
        .btn-dangerours('text')
    }
    &-danger&-dashed{
        .btn-dangerours('dashed')
    }
    &-danger&-default{
        .btn-dangerours('default')
    }
    &-warning&-primary{
        .btn-warning('primary')
    }
    &-warning&-text{
        .btn-warning('text')
    }
    &-warning&-dashed{
        .btn-warning('dashed')
    }
    &-warning&-default{
        .btn-warning('default')
    }
}
.leke-content{
    display: inline-block;
}
.leke-round{
    border-radius: 40px;
}
.leke-btnBackgroundGhost {
    color: #fff;
    border-color: #fff;
}
.leke-btnBackgroundGhost.leke-btn-primary {
    background: #bbe9df;
    border: none;
    color: @base-color;
    text-shadow: none;
}
.leke-btnBackgroundGhost.leke-btn-primary:hover {
    background-color: #fff;
}

.leke-btnBackgroundGhost.leke-btn-default {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-shadow: none;
}

.leke-btnBackgroundGhost.leke-btn-default:hover {
    color: @base-color;
    background-color: #fff;
}
.leke-btnBackgroundGhost.leke-btn-dashed {
    background: transparent;
    border: 1px dashed #fff;
    color: #fff;
    text-shadow: none;
}

.leke-btnBackgroundGhost.leke-btn-dashed:hover {
    color: @base-color;
    border: none;
    background-color: #fff;
}

.leke-abtnBackgroundGhost.leke-btn-primary[disabled],
.leke-abtnBackgroundGhost.leke-btn-primary[disabled]:hover {
    background-color:#fff;
    color: #cccccc;
    cursor: auto;
}

.leke-btnDisabled.leke-btn-primary[disabled]:hover,
.leke-btnDisabled.leke-btn-primary[disabled]{
    background-color: @leke-btn-disabled;
    .btnDisabled(#fff);
}
.leke-btnDisabled.leke-btn-default[disabled]:hover,
.leke-btnDisabled.leke-btn-default[disabled]{
    border: 1px solid @leke-btn-disabled;
    .btnDisabled(@leke-btn-disabled);
}
.leke-btnDisabled.leke-btn-dashed[disabled]:hover,
.leke-btnDisabled.leke-btn-dashed[disabled]{
    border: 1px dashed @leke-btn-disabled;
    .btnDisabled(@leke-btn-disabled);
}
.leke-btnDisabled.leke-btn-text[disabled]:hover,
.leke-btnDisabled.leke-btn-text[disabled]{
    .btnDisabled(@leke-btn-disabled);
}


.leke-btn-primary[disabled]:hover,
.leke-btn-primary[disabled]{
    background-color: #d9d9d9;
    .btnDisabled(#fff);
}
.leke-btn-default[disabled]:hover,
.leke-btn-default[disabled]{
    border: 1px solid #d9d9d9;
    .btnDisabled(#d9d9d9);
}
.leke-btn-normal[disabled]:hover,
.leke-btn-normal[disabled]{
    border: 1px solid #d9d9d9;
    .btnDisabled(#d9d9d9);
}
.leke-btn-dashed[disabled]:hover,
.leke-btn-dashed[disabled]{
    border: 1px dashed #d9d9d9;
    .btnDisabled(#d9d9d9);
}
.leke-btn-text[disabled]:hover,
.leke-btn-text[disabled]{
    .btnDisabled(#d9d9d9);
}
