.@{prefix-cls}-input{
  .reset();
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: @input-padding-vertical-base @input-padding-horizontal-base;
  color: @input-color;
  font-size: @font-size-base;
  line-height: @line-height-base;
  background-color: @input-bg;
  background-image: none;
  border: @border-width-base @border-style-base @input-border-color;
  border-radius: @border-radius-base;
  transition: all 0.3s;
  box-sizing: border-box;
  
  &:hover{
    .hover()
  }
  &:focus{
    .focus()
  }

  &-lg {
    padding: @input-padding-vertical-large @input-padding-horizontal-large;
  }

  &-sm {
    padding: @input-padding-vertical-small @input-padding-horizontal-small;
  }
  
  &-disabled{
    .disabled()
  }
}

.@{prefix-cls}-input-outer-wrap{
  width: 100%;
  display: flex;
  align-items: center;
  &-focus{
    .focus();
  }
  .@{prefix-cls}-input{
    .reset();
    width: initial;
    flex-grow: 1;
    &:focus{
      box-shadow:none;
    }
  }
  .leke-input-prefix,.leke-input-suffix{
    display: flex;
    align-items: center;
  }
  .leke-input-prefix{
    margin-right: 10px;
  }
  .leke-input-suffix{
    margin-left: 10px;
  }
}
