@import "../../../less/theme.less";
@prefix-cls: leke;

// extend global base config
@border-radius-base:@radius;
@border-width-base:1px;
@border-style-base:solid;
@font-size-base:14px;
@line-height-base:1.5715;
@input-height-base:32px;

// == size large
@input-padding-vertical-large:8px;
@input-padding-horizontal-large:11px;

// == size base
@input-padding-vertical-base:4px;
@input-padding-horizontal-base:11px;

// == size small
@input-padding-vertical-small:0px;
@input-padding-horizontal-small:11px;

@input-color:#333; 
@text-color-secondary: rgba(0, 0, 0, 0.45);
@input-bg:#fff;
@input-border-color:#d9d9d9;
@input-border-radius:2px;
@input-hover-border-color:@base-color;
@input-focus-border-color:@base-color;

// disable state
@input-disabled-color:rgba(0, 0, 0, 0.25);
@input-disabled-bg:hsv(0, 0, 96%);

