@import "../../packages/rc/less/theme";
@import "../../packages/rc/less/base";
body{
  font-size: 14px;
  color:#333;
  padding-top: 50px;
}
::-webkit-scrollbar {
  width : 8px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #535353;
}
::-webkit-scrollbar-track {
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background   : #ededed;
}
.main{
  display: flex;
}
.leke-icon{
  line-height: 0;
}