@import "../../packages/rc/less/theme";
@import "../../packages/rc/less/base";
body{
  font-size: 14px;
  color:#333;
  padding-top: 50px;
}
::-webkit-scrollbar {
  width : 8px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #535353;
}
::-webkit-scrollbar-track {
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background   : #ededed;
}
.main{
  display: flex;
}
.left-container{
  width:260px;
  height: calc(100vh - 50px);
  overflow-y: auto;
  position: relative;
}
.left-tab{
  width:260px;
  position: fixed;
  .tab-item{
    height:40px;
    line-height: 40px;
    cursor: pointer;
    padding-left:20px;
    padding-right:20px;
    a{
      display: block;
      height:100%;
    }
    &:hover{
      color: @base-color;
    }
    &.current{
      color: @base-color;
      background-color: #d2f0ed;
    }
  }
  .tab-list .tab-item:first-child a{
    border-top:1px solid #f0f0f0;
  }
  .tab-group{
    font-size:16px;
    color:#333;
    .group-title{
      padding-left:20px;
      padding-right:20px;
      color:rgba(0,0,0,0.45);
      font-size:14px;
      display: block;
      height:36px;
      line-height: 36px;
      cursor: default;
    }
  }
}
.router-container{
  flex: 1;
  border-left:1px solid #f0f0f0;
  box-sizing: border-box;
  padding:0 50px 50px 50px;
  h2{
    margin-top:50px;
  }
}
.leke-icon{
  line-height: 0;
}
.header{
  width:100%;
  box-sizing: border-box;
  height: 50px;
  line-height: 50px;
  padding:0 80px;
  box-shadow: 0 2px 8px #f0f1f2;
  background-color: #fff;
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  .nav{
    display: flex;
  }
  a{
    display: block;
    height:100%;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    &:hover{
      color: @base-color;
    }
    &+a{
      margin-left: 12px;
    }
    &.current{
      color: @base-color;
      background-color: #d2f0ed;
    }
  }
}