@import "../../../packages/rc/less/theme.less";
.markdown-section{
  &+.markdown-section{
    margin-top:30px;
  }
  table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  thead{
    background-color: rgba(0,0,0,0.02);
    font-weight: 700;
  }
  th,td{
    border-bottom:1px solid #f0f0f0;
    padding:12px;
    text-align: left;
  }
  h1,h2{
    margin-top: 30px;
    margin-bottom: 10px;
  }
  a{
    color:#1890ff;
  }
  >ul li+li{
    margin-top:10px;
  }
  pre{
    margin: 30px 0!important;
    border:1px solid @border-color!important;
    background-color: #fafafa!important;
  }
  code{
    padding:16px 32px!important;
  }
  .demo,.demo-description{
    padding:0 28px;
    margin: 25px 0;
    a{
      color:inherit;
    }
  }
  .jsx-block{
    border-radius: 4px;
    border:1px solid @border-color;
    .demo-title{
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      .text{
        color:#000;
        font-size:16px;
        padding-left: 30px;
        padding-right: 30px;
      }
      .line{
        display: block;
        height:1px;
        background-color: @border-color;
      }
      .line-left{
        width: 88px;
      }
      .line-right{
        flex:1;
      }
    }
    .code-btn-group{
      border-top:1px dashed #979797;
      text-align: center;
      padding-top:10px;
      padding-bottom: 10px;
      color:#8c8c8c;
      .show-code-btn{
        cursor: pointer;
      }
      .icon-down{
        font-size: 12px;
        margin-left:6px;
        display: inline-block;
        line-height: 0;
        transition: transform 0.3s;
        vertical-align: -0.125em;
      }
    }
    .code-highlighter{
      border-top:1px dashed @border-color;
      transition: height 300ms;
      overflow: hidden;
      font-size: 14px;
      pre{
        border:0!important;
        margin:0!important;
        &+pre{
          border-top:1px dashed @border-color!important;
        }
      }
    }
  }
}