@import "../../less/theme.less";

@keyframes rotating{
  from{
    transform:rotate(0)
  }
  to{
    transform:rotate(360deg)
  }
}

.leke-switch {
  background: @border-color;
  width: 40px;
  height: 22px;
  border-radius: 100px;
  cursor: pointer;
  user-select: none;
  transition: all .2s;
  border: none;
  display: inline-block;
  position: relative;
  
  &:focus{outline:0;} 

  &:active {
    .leke-switch-handle::before {
      right: -30%;
      left: 0;
    }
  }

  .leke-switch-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all .2s ease-in-out;

    &::before {
      position: absolute;
      transition: all .2s ease-in-out;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      border-radius: 9px;
      box-shadow: 0 2px 4px 0 rgba(0,35,11,.2);
      content: "";
    }
  }

  .leke-switch-loading {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 18px;
    height: 18px;
    animation: rotating 1s linear infinite;
    opacity: 1;
    svg {
      width: 18px;
      height: 18px;
      transform: scale(0.8);
    }
  }

  .leke-switch-loading {
    color: @border-color;
  }

  .leke-switch-inner {

  }
}

.leke-switch-chceked {
  background: @base-color;

  &:active {
    .leke-switch-handle::before {
      right: 0;
      left: -30%;
    }
  }

  .leke-switch-handle {
    left: calc(100% - 20px);
  }

  .leke-switch-loading {
    color: @base-color;
  }
}

.leke-switch-disabled, .leke-switch-loading {
  cursor: not-allowed;
  opacity: .35;
  &:active {
    .leke-switch-handle::before {
      right: 0!important;
      left: 0!important;
    }
  }
}

.leke-switch-small {
  width: 28px;
  height: 16px;
  border-radius: 8px;
}
