.video-play-wrap {
    position: relative;
    order: 1;
    margin-right: 24px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-icon_weikebofang,
    .icon-icon_weikezanting {
        font-size: 32px;
        color: #fff;
        cursor: pointer;
    }
}