@ENTRY_FULLSCREEN_URL:'https://static.leke.cn/scripts/common/player/images/icon_quanping.png';
@EXIT_FULLSCREEN_URL:'https://static.leke.cn/scripts/common/player/images/icon_tuichuquanping.png';

.video-fullscreen-container {
    position: relative;
    order: 5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon_quanping{
        background-image: url(@ENTRY_FULLSCREEN_URL);
    }

    .icon_tuichuquanping{
        background-image: url(@EXIT_FULLSCREEN_URL);
    }
}