.video-fullscreen-container {
    position: relative;
    order: 5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-icon_tuichuquanping,
    .icon-icon_quanping {
        font-size: 30px;
        color: #fff;
        cursor: pointer;
    }
}